* {
  background-color: rgb(36, 36, 36);
  color: rgb(5, 235, 109);
  font-family: "Source Code Pro";
  z-index: 0;
}

html {
  height: 100%;
}
body {
  height: 100vh;
  width: 100%;
}
img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid rgb(5, 235, 109);
}
h1 {
  font-size: 48px;
  line-height: 1em;
  text-shadow: 1px 1px 2px rgb(5, 235, 109), 0 0 1em rgb(5, 235, 109),
    0 0 0.2em rgb(5, 235, 109);
}
h2 {
  font-size: 40px;
  line-height: 1em;
  text-shadow: 1px 1px 2px rgb(5, 235, 109), 0 0 1em rgb(5, 235, 109),
    0 0 0.2em rgb(5, 235, 109);
}

h3 {
  font-size: 26px;
  line-height: 1em;
  text-shadow: 1px 1px 2px rgb(5, 235, 109), 0 0 1em rgb(5, 235, 109),
    0 0 0.2em rgb(5, 235, 109);
}
.main_page {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  gap: 10px;
}
.main_container {
  box-shadow: 0 0 5px 10px rgb(36, 36, 36);
  grid-column: 2/3;
  max-width: 700px;
  margin: 0 auto;
  padding: 1em;
  z-index: 1;
}

#about {
  display: flex;
  align-items: center;
  gap: 4em;
  z-index: 1;
}
#pres {
  font-weight: 300;
}

#contact {
  z-index: 1;
  display: flex;
  justify-content: space-evenly;
  column-gap: 1em;
  flex-wrap: wrap;
}

#techno {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  font-size: 0.9em;
}

.language_framework {
  border: 1px solid rgb(5, 235, 109);
  border-radius: 5px;
  padding: 0.5em 1em;
  align-items: center;
}

input{
  border:1px solid rgb(5, 235, 109);
  width:400px;

}
textarea{
  border:1px solid rgb(5, 235, 109);
  width:400px;

}

button{
  width:400px;
  height:40px;
  background-color: rgb(36, 36, 36);
  border:1px solid rgb(5, 235, 109);
  color:rgb(5, 235, 109);
}
#form{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 600px) {
  #about {
    display: flex;
    align-items: center;
    gap: 1em;
    flex-direction: column;
  }

  .container_bubbles{
    visibility: hidden;
  }

  .container_bubbles2{
    visibility: hidden;
  }

  img {
    width: 200px;
    height: 200px;
  }
}

.container_bubbles {
  grid-column: 1/2;
  position: fixed;
  width: auto;
  height: 100vh;
  opacity: 1;
  z-index: 0;
}
.container_bubbles2 {
  grid-column: 3/4;
  position: fixed;
  right: 0;
  width: auto;
  height: 100vh;
  z-index: 0;
  opacity: 1;
}

.bubbles {
  position: relative;
  display: flex;
  z-index: -1;
}

.bubbles span {
  position: relative;
  width: 30px;
  height: 30px;
  margin: 0 4px;
  border-radius: 50%;
  font-size: 26px;
  animation: animate 15s linear infinite;
  text-shadow: 1px 1px 2px rgb(5, 235, 109), 0 0 1em rgb(5, 235, 109),
    0 0 0.2em rgb(5, 235, 109);

  animation-duration: calc(125s / var(--i));
}

.bubbles2 {
  position: relative;
  display: flex;
  z-index: -1;
}

.bubbles2 span {
  position: relative;
  width: 30px;
  height: 30px;
  margin: 0 4px;
  border-radius: 50%;
  font-size: 26px;
  animation: animate 15s linear infinite;
  text-shadow: 1px 1px 2px rgb(5, 235, 109), 0 0 1em rgb(5, 235, 109),
    0 0 0.2em rgb(5, 235, 109);
  animation-duration: calc(125s / var(--i));
}

@keyframes animate {
  0% {
    transform: translateY(200vh) scale(0);
  }
  100% {
    transform: translateY(-10vh) scale(1);
  }
}
